* {
  margin: 0;
  padding: 0;
}
.header{
    font-family: 'Satisfy', cursive;
    position: static;
    text-align: center;
}
.navegador {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}
.barra {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}
.segmento, .bateria{
    display: block;
    padding: 5px;
}
.barra:hover > ul {
  display: block;

}
ul a {
  text-decoration: none;
  color: black;
  display: block;

}

.segmentos, .baterias {
  display: none;
  position: absolute;
}
