* {
  margin: 0;
  padding: 0;
}
.header{
    font-family: 'Satisfy';
    font-size: 2.5em;
    position: static;
    text-align: center;
    color: rgb(212, 17, 17);
    /*background-color: rgb(59, 242, 90);*/
    background: linear-gradient(to bottom, rgb(59, 242, 90), white);

}
.navegador {
  display: block;
  

}
.barra_principal {  
display: flex;
justify-content: center;
  padding-top: 10px;
  
}
.barra{
display: inline-block;
padding-left: 5%;
padding-right: 5%;
}
.segmento, .bateria{
    display: block;
    padding: 5px;
}
.barra:hover > ul {
  display: block;

}
ul li a {
  text-decoration: none;
  color: black;
  display: block;

}

.segmentos, .baterias {
  display: none;
  position: absolute;
}
.modelos{
display: flex;
padding: 10px;
align-items: center;
}
.imagen{
  width: 150px;
  display: block;
}
.marcas_caracteristicas{
  
  padding: 20px;
  
}
.marcas{
  padding-top: 30px;
}
strong{
  padding-left: 20px;
}